@page "/"
<a href="c:\users\jonas\source\repos\hundeleksikon\hundeleksikon\components\pages\home.razor">c:\users\jonas\source\repos\hundeleksikon\hundeleksikon\components\pages\home.razor</a>
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
